<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ detail.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{ detail.tags.amenity }}
</ion-content>
